
lab3.cr.mti
lab3.mpf
transcript
vsim.wlf
work/_info
work/_lib.qdb
work/_lib1_0.qdb
work/_lib1_0.qpg
work/_lib1_0.qtl
work/_vmake
c5_pin_model_dump.txt
db/.cmp.kpt
db/lab1clk_altpll.v
db/lab3.(0).cnf.cdb
db/lab3.(0).cnf.hdb
db/lab3.(1).cnf.cdb
db/lab3.(1).cnf.hdb
db/lab3.(2).cnf.cdb
db/lab3.(2).cnf.hdb
db/lab3.(3).cnf.cdb
db/lab3.(3).cnf.hdb
db/lab3.(4).cnf.cdb
db/lab3.(4).cnf.hdb
db/lab3.(5).cnf.cdb
db/lab3.(5).cnf.hdb
db/lab3.(6).cnf.cdb
db/lab3.(6).cnf.hdb
db/lab3.(7).cnf.cdb
db/lab3.(7).cnf.hdb
db/lab3.asm.qmsg
db/lab3.asm.rdb
db/lab3.cmp.bpm
db/lab3.cmp.cdb
db/lab3.cmp.hdb
db/lab3.cmp.idb
db/lab3.cmp.logdb
db/lab3.cmp.rdb
db/lab3.cmp_merge.kpt
db/lab3.cyclonev_io_sim_cache.ff_0c_fast.hsd
db/lab3.cyclonev_io_sim_cache.ff_85c_fast.hsd
db/lab3.cyclonev_io_sim_cache.tt_0c_slow.hsd
db/lab3.cyclonev_io_sim_cache.tt_85c_slow.hsd
db/lab3.db_info
db/lab3.fit.qmsg
db/lab3.hier_info
db/lab3.hif
db/lab3.lpc.html
db/lab3.lpc.rdb
db/lab3.lpc.txt
db/lab3.map.ammdb
db/lab3.map.bpm
db/lab3.map.cdb
db/lab3.map.hdb
db/lab3.map.kpt
db/lab3.map.logdb
db/lab3.map.qmsg
db/lab3.map.rdb
db/lab3.map_bb.cdb
db/lab3.map_bb.hdb
db/lab3.map_bb.logdb
db/lab3.npp.qmsg
db/lab3.pre_map.hdb
db/lab3.quiproj.5944.rdr.flock
db/lab3.root_partition.map.reg_db.cdb
db/lab3.routing.rdb
db/lab3.rtlv.hdb
db/lab3.rtlv_sg.cdb
db/lab3.rtlv_sg_swap.cdb
db/lab3.sgate.nvd
db/lab3.sgate_sm.nvd
db/lab3.sld_design_entry.sci
db/lab3.sld_design_entry_dsc.sci
db/lab3.smart_action.txt
db/lab3.smp_dump.txt
db/lab3.sta.qmsg
db/lab3.sta.rdb
db/lab3.sta_cmp.6_slow_1100mv_85c.tdb
db/lab3.tis_db_list.ddb
db/lab3.tiscmp.fast_1100mv_0c.ddb
db/lab3.tiscmp.fast_1100mv_85c.ddb
db/lab3.tiscmp.slow_1100mv_0c.ddb
db/lab3.tiscmp.slow_1100mv_85c.ddb
db/lab3.tmw_info
db/lab3.vpr.ammdb
db/lab3_partition_pins.json
db/prev_cmp_lab3.qmsg
incremental_db/compiled_partitions/lab3.db_info
incremental_db/compiled_partitions/lab3.root_partition.cmp.ammdb
incremental_db/compiled_partitions/lab3.root_partition.cmp.cdb
incremental_db/compiled_partitions/lab3.root_partition.cmp.dfp
incremental_db/compiled_partitions/lab3.root_partition.cmp.hbdb.cdb
incremental_db/compiled_partitions/lab3.root_partition.cmp.hbdb.hdb
incremental_db/compiled_partitions/lab3.root_partition.cmp.hbdb.sig
incremental_db/compiled_partitions/lab3.root_partition.cmp.hdb
incremental_db/compiled_partitions/lab3.root_partition.cmp.logdb
incremental_db/compiled_partitions/lab3.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/lab3.root_partition.map.cdb
incremental_db/compiled_partitions/lab3.root_partition.map.dpi
incremental_db/compiled_partitions/lab3.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/lab3.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/lab3.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/lab3.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/lab3.root_partition.map.hdb
incremental_db/compiled_partitions/lab3.root_partition.map.kpt
incremental_db/compiled_partitions/lab3.rrp.hdb
incremental_db/compiled_partitions/lab3.rrs.cdb
incremental_db/README
lab3.qpf
lab3.qsf
lab3.qsf.bak
output_files/lab3.asm.rpt
output_files/lab3.cdf
output_files/lab3.done
output_files/lab3.fit.rpt
output_files/lab3.fit.smsg
output_files/lab3.fit.summary
output_files/lab3.flow.rpt
output_files/lab3.jdi
output_files/lab3.map.rpt
output_files/lab3.map.summary
output_files/lab3.pin
output_files/lab3.sld
output_files/lab3.sof
output_files/lab3.sta.rpt
output_files/lab3.sta.summary
*.rdb
*.qws
